**/__pycache__/
*.py[cod]
*$py.class

venv/


*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/


.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.tox/
.pytest_cache/

]
debug.log
*.bak
*.swp
*~
